<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="public/stylesheets/style.css">
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>


<div class="container">

  <div class="row">
    <h1 style="font-family: 'Lobster', cursive;" align="center">Vit Rooms</h1>
    <h3 align="center">your private chat buddy!</h3>
    <h5 align="center" id="msg"></h5>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <a href="#" class="active" id="login-form-link">Login</a>
            </div>
            <div class="col-xs-6">
              <a href="#" id="register-form-link">Register</a>
            </div>
          </div>
          <hr>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">

              <form id="login-form" action="signin" method="post" style="display: block;">
                <div class="form-group">
                  <input type="email" name="email" id="username" tabindex="1" class="form-control" placeholder="Email" value=""
                         ng-model="user.login.email" ng-required="true">
                </div>
                <div class="form-group">
                  <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password"
                          ng-model="user.login.password" ng-required="true">
                </div>
                <div class="form-group text-center">
                  <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                  <label for="remember"> Remember Me</label>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <input type="submit" name="login-submit" id="login-submit" tabindex="4"
                             class="form-control btn btn-login" value="Log In" onclick="this.disable()">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="text-center">
                        <a href="http://phpoll.com/recover" tabindex="5" class="forgot-password">Forgot Password?</a>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <form id="register-form" action="signup" method="post"  role="form" style="display: none;"
                    name="registrationForm" >

                <div class="form-group">
                  <input type="text"  id="register-nick" name="nick"
                         ng-model="user.nick"
                         tabindex="1" class="form-control" placeholder="Nickname" value="" ng-required="true">
                </div>
                <div class="form-group">
                  <input type="text" name="email" id="register-email" ng-required="true"
                         ng-model="user.email"
                         tabindex="1" class="form-control" placeholder="Email" value="">
                </div>
                <div class="form-group">
                  <input type="password" name="password"  id="register-password" tabindex="2" class="form-control"
                        ng-model="user.password" ng-required="true" placeholder="Password">
                </div>
                <div class="form-group" ng-model="user.cpassword" ng-required="true" >
                  <input type="password"  id="register-confirm-password"
                         tabindex="2" class="form-control" placeholder="Confirm Password">
                  <span id="errormsg" style="color:red"></span>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <input type="submit"  ng-disabled="button"
                             ng-click="button=false" onclick="this.disable()"
                             id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script>
  /**
   * Created by Krishna Kalubandi on 17-Oct-15.
   */
  $(function() {

    $('#login-form-link').click(function(e) {
      $("#login-form").delay(100).fadeIn(100);
      $("#register-form").fadeOut(100);
      $('#register-form-link').removeClass('active');
      $(this).addClass('active');
      e.preventDefault();
    });
    $('#register-form-link').click(function(e) {
      $("#register-form").delay(100).fadeIn(100);
      $("#login-form").fadeOut(100);
      $('#login-form-link').removeClass('active');
      $(this).addClass('active');
      e.preventDefault();


    });

    if($.urlParam('success') == 1) {
      $('#msg').text("Registered Successfully. Login to continue");
    }else if($.urlParam('success') == 0) {
      $('#msg').text("User already exists");
    }

  });
  $('#register-form').submit(function(e){
    if($('#register-password').val() != $('#register-confirm-password').val()) {
      $('#errormsg').text("Passwords do not match")
      console.log('password no matching')

      return false;
    }
    return true;
  })
  $.urlParam = function(name){
    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
    if (results==null){
      return null;
    }
    else{
      return results[1] || 0;
    }
  }
</script>
</body>
</html>  
